/* 	CSS Document - A Home To Share*/

/* 
	This code will reset the default margins, padding, and border
	settings to assist with cross browser compatibility.
*/

/* 	CSS Reset */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	form, label,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}
/* END CSS Reset */



/* Header */

	#header {
		color: #ffffff;
		cursor: default;
		height: 10em;
		left: 8em;
		line-height: 3.25em;
		position: absolute;
		text-align: right;
		top: 2.5em;
		width: 85%;
		z-index: 10001;
	}

		#header .inner {
			margin: 0 auto;
			position: relative;
		}

		#header .logo {
			color: #ffffff;
			display: inline-block;
			font-weight: 600;
			height: inherit;
			left: 0;
			line-height: inherit;
			margin: 0;
			padding: 10;
			position: absolute;
			top: 0;
			font-size: 1.1em;
		}

		#header a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 0.75em;
			color: inherit;
			text-decoration: none;
			font-size: .8em;
		}

			#header a:hover {
				color: #ffcc00;
			}

			#header a:last-child {
				padding-right: 100;
			}

			#header a.navPanelToggle {
				display: none;
				text-decoration: none;
				height: 4em;
				width: 4em;
				z-index: 10003;
			}

			#header a.navPanelToggle .fa {
				font-size: 1.25em;
			}
			
			#header button:hover {
				color: #ffcc00;
			}
			
				
/* Banner */

	#banner {
		padding: 20em 0 12em 0;
		background-image: url('../../images/banner3.jpg');
		background-size: cover;
		background-position: top;
		background-attachment: fixed;
		background-repeat: no-repeat;
		text-align: center;
		border-top: 0.3em solid #ffcc00;
	}

	#banner h1 {
			font-size: 3em;
			font-weight: 100;
			color: #ffffff;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
	}
	
	#banner p {
			font-size: 1em;
			color: #ffffff;
			margin-bottom: 1.75em;
	}


	
/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 {
		width: 100%;
		max-width: 100em;
		min-width: 80em;
	}

	.container.\37 5\25 {
		width: 60em;
	}

	.container.\35 0\25 {
		width: 40em;
	}

	.container.\32 5\25 {
		width: 20em;
	}

	.container {
		width: 80em;
	}


/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

		section.special article, article.special article {
			text-align: left;
		}

	section.wrapper, article.wrapper {
		padding: 6em 0;
	}

		section.wrapper header, article.wrapper header {
			margin-bottom: 4em;
		}

			section.wrapper header h2, article.wrapper header h2 {
				font-size: 2.75em;
				margin: 0 0 .5em 0;
			}

			section.wrapper header p, article.wrapper header p {
				font-size: 1em;
			}

		section.wrapper article header, article.wrapper article header {
			margin: 0;
		}

		section.wrapper.style1, article.wrapper.style1 {
			background: #5385c1;
			color: #bacee6;
		}

			section.wrapper.style1 header h2, article.wrapper.style1 header h2 {
				color: #fff;
			}

			section.wrapper.style1 header p, article.wrapper.style1 header p {
				color: #bacee6;
			}

			section.wrapper.style1 h3, article.wrapper.style1 h3 {
				color: #FFF;
			}
			
	
	
	
/* List */

	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px #dbdbdb;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2em;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

/* Flex */

	.flex {
		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-pack: justify;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
	}

		.flex.flex-2 article {
			width: 47%;
		}

		.flex.flex-3 article {
			/* position: relative; */
			width: 33%;
			text-align: center;

		}

			.flex.flex-3 article:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				right: -2em;
				top: 0;
				border-right: 1px solid #dbdbdb;
				pointer-events: none;
			}

			.flex.flex-3 article:last-child:before {
				border: none;
			}

		.flex.flex-4 .box {
			width: 25%;
		}
	
	
/* Footer */

	#footer .inner {
		border-top: 1px solid #dbdbdb;
		padding-top: 3em;
	}

	#footer .copyright {
		color: #bbb;
		font-size: 0.8em;
		margin: 0 0 2em 0;
		padding: 0;
	}

		#footer .copyright a {
			color: #bbb;
			text-decoration: none;
		}

			#footer .copyright a:hover {
				color: #bbb;
				text-decoration: underline;
			}

	#footer ul.icons li .icon {
		font-size: 0.58em;
	}
	
	
	
/* Popup window */	
	body {font-family: Arial, Helvetica, sans-serif;}

	/* The Popup (background) */
	.popup {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 120px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
	}

	/* Popup Content */
	.popup-content {
		background-color: #fefefe;
		margin: auto;
		padding: 20px;
		border: 2px solid #ffcc00;
		width: 35%;
		text-align: center;
	}

	/* The Close Button */
	.close {
		color: #aaaaaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}

	.unstyled-button {
		border: none;
		padding: 0;
		background: none;
		color: #ffffff;
	}


	/* Pattern styles */
	.popup_container {
		display: flex;
		text-align: center;
		
	}
	
	.popup-left_half {
		background-color: #ff9e2c;
		flex: 1;
		padding: 0px 50px 0px 0px;
}

	.popup-right_half {
		background-color: #b6701e;
		flex: 1;
		padding: 1rem;
	}
	
	
	
	

