/*
    File: hostProfile_style.css
    Description: Cascading style sheet for "Manage Properties" page
    Create: Oct.28,2018
    Last modified: Nov.23, 2018
    Author: Zhan Shen
    Clients: Michelle Bilek, Farheen Khan
    Course: Software Development Project
    Professor: Dr. Anu Thomas
    Project: A Home to Share
    Copyright @ 2018
*/

/* 
    This code will reset the default margins, padding, and border
    settings to assist with cross browser compatibility.
*/

/*  CSS Reset */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    form, label,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
    }

    article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol, ul {
        list-style: none;
    }

    blockquote, q {
        quotes: none;
    }

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    body {
        -webkit-text-size-adjust: none;
    }
/*  END CSS Reset */



body {font-family: Arial, Helvetica, sans-serif;}

		
/* --Host Profile header----------------------------------------------------- */
    .subpage {
        padding-top: 120px;
    }

        .subpage #header {
            background: #5385c1;
            top: 0;
            height: 50px;
            line-height: 50px;
            position: fixed;
        }
		
    #header {
        color: #ffffff;
        cursor: default;
        height: 10em;
        line-height: 3.25em;
        position: absolute;
        text-align: right;
        top: 2.5em;
        width: 100%;
        z-index: 10001;
    }

        #header .inner {
            margin: 0 auto;
            position: relative;
            right: 100px;
        }

        #header .logo {
            color: #ffffff;
            display: inline-block;
            font-weight: 600;
            height: inherit;
            left: 200px;
            line-height: inherit;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 0;
            font-size: 1.1em;
        }

        #header a {
            -moz-transition: color 0.2s ease-in-out;
            -webkit-transition: color 0.2s ease-in-out;
            -ms-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;
            display: inline-block;
            padding: 0 0.75em;
            color: inherit;
            text-decoration: none;
            font-size: .8em;
        }

            #header a:hover {
                color: #ffcc00;
            }
			
            #header button:hover {
                color: #ffcc00;
            }
            
            .unstyled-button {
                border: none;
                padding: 0;
                background: none;
                color: #ffffff;
                margin-left: 10px;
            }
        
        
/* --Buttons: Sign Up, Reset------------------------------------------------- */
/*        ul.actions.fit {
            display: table;
            margin-left: -1em;
            padding: 0;
            table-layout: fixed;
            width: calc(100% + 1em);
        }

	ul.actions.fit li {
            display: table-cell;
            padding: 0 0 0 1em;
        }
        
        input[type="submit"],
	input[type="reset"] {
            -moz-appearance: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            appearance: none;
            -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            background-color: #5385c1;
            border-radius: 0;
            border: 0;
            color: #ffffff !important;
            cursor: pointer;
            display: inline-block;
            font-weight: 600;
            height: 2.85em;
            line-height: 1.95em;
            padding: 0 1.5em;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
            width: 80%;
	}

            input[type="submit"]:hover,
            input[type="reset"]:hover {
                background-color: #3d6699;
            }

            input[type="reset"].alt {
                background-color: transparent;
                box-shadow: inset 0 0 0 2px #dbdbdb;
                color: #555 !important;
            }

                input[type="reset"].alt:hover {
                    background-color: rgba(144, 144, 144, 0.075);
                }

                input[type="reset"].alt:active {
                    background-color: rgba(144, 144, 144, 0.2);
                }*/
	
/* --Footer------------------------------------------------------------------ */

.flex {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

#footer {
        background-color: #efeded;
        font-size: small;
        position: relative;
        bottom: 0;
        width:100%;
    }

        #footer p{
            text-align: center;
            margin-bottom: 45px;
        }

        .footer_column {
            float: left;
            height: 130px;
            margin-top: 50px;
            margin-bottom: 20px;
        }
        
        #footer h6 {
            font-size: 1em;
            color: #555;
            font-weight: bold;
        }

        #footer ul {
            margin-top: 10px;
        }

        #footer li {
            line-height: 1.7;
            word-wrap: break-word;
            color: #555;
        }
        #footer img {
            padding-top: 8px;
        }

        #footer a {
            text-decoration: none;
            margin-top: 15px;
            color: #555;
        }

        #footer u {
            color: #5385c1;
        }

        #footer p {
            color: #555;
        }    

    .inner1 {
        /*background: gold;*/
        width: 15%;
    }

    .inner2 {
        /*background: green;*/
        width: 14%;
    }

    .inner3 {
        width: 16%;
        /*background: green;*/
    }

    .inner4 {
        width: 31%;
        padding-right: 30px;
        max-width: 470px;
        /*background: #b6701e;*/
    }

    .inner5 {
        width: 15%;
        /*background: green;*/
    }

    .inner6 {
        width: 9%;
        /*background: green;*/
    }  

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    
    #footer * {
        box-sizing: border-box;
    }

	   
    

    
/* --Host: Manage Properties layout--------------------------------------------------------*/
 .wrapper {
        display: flex;
        flex-flow: row wrap;
        list-style: none;
    }

    .wrapper > * {
        padding: 10px;
        flex: 1;
    }

    .aside-1 {
        /*background: gold;*/
    }

    .aside-2 {
            /*background: green;*/
    }

    .aside-3 {
        /*background: greenyellow;*/
    }

    .aside-4 {
        /*background: #bbb;*/
    }
    
    .btn-group-vertical {
        width: 230px;
        margin-left: 80px;   
    }
    
    .btn-group-vertical hr {
       /*border-top: 12px solid #ffcc00;*/
       display: inline-block;
       width: 3px;
       height: 4px;
       margin-right: 0;
       margin-bottom: 0;
       margin-left: 2px;
       margin-top: 15px;
       border: 4px solid #ffcc00;
    }
    
/*    .my_profile_content {
        position: relative;
    }*/
    
/*    .my_profile_content h2{
        font-size:1.3em;
    }*/
    
    ul#horizontal-list li{
        display: inline-block;
    }
    
    hr {
        border-top: .3px solid #ccc;
        display: block;
        margin-right: 30px;
    }

        input[type="button"] {
            -moz-appearance: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            appearance: none;
            -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            background-color: #ffffff;
            border-radius: 0;
            border: 0;
            color: #5385c1 !important;
            cursor: pointer;
            display: inline-block;
            font-weight: 600;
            height: 2.85em;
            line-height: 1.95em;
            padding: 0 1.8em;
            text-align: left;
            text-decoration: none;
            white-space: nowrap;
            width: 100%;
            border: 1px solid rgba(144, 144, 144, 0.2);
	}
        
        input[type="button"]:hover{
            background-color: rgba(144, 144, 144, 0.1);
        }
        
        #menu1 {
            border-top: none;
            border-right: none;
            border-bottom: none;
        }
        #menu2 {
            border-top: none;
        }
        
        #menu3 {
            border: 2px solid #ffcc00;
            border-top: none;
            border-right: none;
            border-bottom: none;
        }
        
/*    .profile_sections {
        margin-top: 25px;
    }
        
    .profile_sections h4{
        font-size:.95em;
        font-weight: bold;

    }*/
    
/*    input[type="text"],
    input[type="tel"],
    input[type="date"] {
        height: 25px;
        margin-top: 8px;
        width: 230px;
    }
    
    input[type="checkbox"] {
        margin-top: 25px;
    }*/
    
/*    #checkbox_items li {
        display: inline-block;
        font-size:.95em;
        font-weight: bold;
        margin-top: 5px;
    }
    
    #checkbox2, #checkbox3 {
        padding-left: 45px;
    }
    
    .renting_details {
        margin-top: 38px;
    }
        
    .save_cancel_btn {
        width: 165px;
        margin-top: 20px;
        margin-bottom: 60px;
    }*/
        
    h2 {
        margin-top: 9px;
    }

    h3 {
        font-size: 18px;
        margin-bottom: 6px;
        margin-left: 3px;
    }
    
    h5 {
        color: #ffcc00;
    }
    
    h6 {
        font-size: 14px;
    }
    
    .property-search-content h2 {
        font-size:1.3em;
    }
    
    .addPropertyBtn {
        margin-top: 30px;
        margin-bottom: 220px;
    }
    
    td {
        border-bottom: 1px solid #ccc;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    td h4{
        line-height: 25px; 
        color: #555;
        font-size: .9em;
    }
    
    input[type="submit"] {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        background-color: #ffffff;
        border-radius: 0;
        border: 0;
        color: #5385c1 !important;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        height: 2.5em;
        line-height: 1.95em;
        padding: 0 1.8em;
        text-align: left;
        text-decoration: none;
        white-space: nowrap;
        width: 24%;
        border: 1px solid rgba(144, 144, 144, 0.2);
        margin-top: 12px;
    }
    
    input[type="submit"]:hover{
        background-color: rgba(144, 144, 144, 0.1);
    }
    
       

            
        
        