<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeView</servlet-name>
        <servlet-class>view.HomeView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpView</servlet-name>
        <servlet-class>view.SignUpView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInView</servlet-name>
        <servlet-class>view.LogInView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterRenterView</servlet-name>
        <servlet-class>view.RegisterRenterView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterHostView</servlet-name>
        <servlet-class>view.RegisterHostView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterConfirmView</servlet-name>
        <servlet-class>view.RegisterConfirmView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileHostView</servlet-name>
        <servlet-class>view.ProfileHostView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileRenterView</servlet-name>
        <servlet-class>view.ProfileRenterView</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeView</servlet-name>
        <url-pattern>/HomeView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpView</servlet-name>
        <url-pattern>/SignUpView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInView</servlet-name>
        <url-pattern>/LogInView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterRenterView</servlet-name>
        <url-pattern>/RegisterRenterView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterHostView</servlet-name>
        <url-pattern>/RegisterHostView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterConfirmView</servlet-name>
        <url-pattern>/RegisterConfirmView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileHostView</servlet-name>
        <url-pattern>/ProfileHostView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileRenterView</servlet-name>
        <url-pattern>/ProfileRenterView</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
